@import "variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

.d3-funnel-js {

    display: block;
    margin: auto;
    font-family: "Open Sans", sans-serif;

    .label__group {

        .label__value {
            font-size: $label-value-font-size;
            fill: $label-value;
            line-height: 18px;
        }

        .label__title {
            font-size: $label-title-font-size;
            font-weight: bold;
            fill: $label-title;
        }

        .label__percentage {
            font-size: $label-per-font-size;
            font-weight: bold;
            fill: $label-per;
        }

    }

    .divider {
        stroke: $secondary;
        stroke-width: 2px;
    }

}