// colors
$primary: #05df9d;
$secondary: #9896dc;

$label-title: $primary;
$label-value: #fff;
$label-per: $secondary;

// fonts
$label-title-font-size: 1em; 
$label-value-font-size: 1.5em; 
$label-per-font-size: 1em; 
 